.vs/
[Bb]in/
Reservation/obj/Debug/net8.0/*.cs
Reservation/obj/Debug/net8.0/*.cache
Reservation/obj/Debug/net8.0/*.bin
ReservationSystem/Reservation/obj/
/Reservation/obj/Debug/net8.0/Reservation.csproj.CoreCompileInputs.cache
/Reservation/obj/Debug/net8.0/ref/Reservation.dll
/Reservation/obj/Debug/net8.0/refint/Reservation.dll
/Reservation/obj/Debug/net8.0/apphost.exe
/Reservation/obj/Debug/net8.0/Reservation.AssemblyInfoInputs.cache
/Reservation/obj/Debug/net8.0/Reservation.AssemblyInfo.cs
/Reservation/obj/Debug/net8.0/Reservation.csproj.FileListAbsolute.txt
/Reservation/obj/Debug/net8.0/Reservation.dll
/Reservation/obj/Debug/net8.0/Reservation.GeneratedMSBuildEditorConfig.editorconfig
/Reservation/obj/Debug/net8.0/Reservation.genruntimeconfig.cache
/Reservation/obj/Debug/net8.0/Reservation.pdb
/Reservation/obj/Debug/net8.0/Reservation.sourcelink.json
/Reservation/appsettings.json