/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.cta {
    width: 100%;
    margin: 0;
}

.cta-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}




#page-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh; /* Define que o contêiner ocupa toda a altura */
}

#content-wrap {
    flex: 1; /* Faz o conteúdo principal ocupar o espaço disponível */
}

footer {
    background-color: #212529; /* Cor do rodapé */
    color: #ccc;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative; 
    bottom: 0;
    clear: both;
    display: block;
}


.com-padding {
    padding: 40px 10px 10px 4rem;
}

.sem-padding {
    padding: 0 ;
}


.footer h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer a:hover {
    color: #000;
    text-decoration: underline;
}

.footer p,
.footer ul {
    margin: 0;
}

.footer ul {
    padding: 0;
}

    .footer ul li {
        list-style: none;
        margin-bottom: 5px;
    }


.menu-button {
    position: fixed;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px; /* Altura total das barrinhas */
    width: 30px; /* Largura das barrinhas */
    padding: 0;
}

    .menu-button span {
        display: block;
        height: 4px; /* Altura de cada barrinha */
        width: 100%; /* Largura igual ao botão */
        background-color: black; /* Cor das barrinhas */
        border-radius: 2px; /* Deixar as bordas arredondadas */
    }


a {
    color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


