@using Reservation.ViewModel
@using Reservation.Data.Enum
@model EditRoomViewModel


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="RoomNumber" for="roomNumber">Room Number</label>
        <input asp-for="RoomNumber" type="text" class="form-control" id="roomNumber" maxlength="10" placeholder="Enter room number" required>
    </div>

    <div class="form-group">
        <label asp-for="Capacity" for="capacity">Capacity</label>
        <input asp-for="Capacity" type="number" class="form-control" id="capacity" placeholder="Enter capacity">
    </div>

    <div class="form-group">
        <label asp-for="SizeInSquareMeters" for="size">Size (m²)</label>
        <input asp-for="SizeInSquareMeters" type="number" class="form-control" id="size" step="0.01" placeholder="Enter size">
    </div>

    <div class="form-group">
        <label asp-for="RoomStatus" for="status">Status</label>
        <select asp-for="RoomStatus" asp-items="@Html.GetEnumSelectList<EnumRoomStatus>()" class="form-control" id="status" required>
        </select>
        <span asp-validation-for="RoomStatus" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="RoomPrice" for="price">Price</label>
        <input asp-for="RoomPrice" type="number" class="form-control" id="price" step="0.01" placeholder="Enter price" required>
    </div>

    <div class="form-group">
        <label for="images">Upload de Imagens</label>
        <input asp-for="RoomImages" type="file" class="form-control" id="images" multiple />
    </div>

    @if (Model.ExistingImages != null && Model.ExistingImages.Any())
    {
        <div>
            <h5>Imagens Atuais:</h5>
            @for (int i = 0; i < Model.ExistingImages.Count; i++)// percorre todas as imagens existentes
            {
                var imageBase64 = Convert.ToBase64String(Model.ExistingImages[i]);
                <div class="image-container">
                    <img src="data:image;base64,@imageBase64" class="img-thumbnail" alt="Room Image" />
                    <input type="checkbox" name="DeleteImages" value="@i" /> Deletar <!-- cria uma checkbox para deletar imagem desejada-->
                </div>
            }
        </div>
    }

    <div class="form-check">
        <input asp-for="HasInternet" type="checkbox" class="form-check-input" id="internet">
        <label asp-for="HasInternet" class="form-check-label" for="internet">Internet</label>
    </div>

    <div class="form-check">
        <input asp-for="HasSecurityCamera" type="checkbox" class="form-check-input" id="securityCamera">
        <label asp-for="HasSecurityCamera" class="form-check-label" for="securityCamera">Security Camera</label>
    </div>

    <div class="form-check">
        <input asp-for="HasAirConditioning" type="checkbox" class="form-check-input" id="airConditioning">
        <label asp-for="HasAirConditioning" class="form-check-label" for="airConditioning">Air Conditioning</label>
    </div>

    <div class="form-group">
        <label asp-for="RoomType" class="control-label">Room Type</label>
        <select asp-for="RoomType" asp-items="@Html.GetEnumSelectList<EnumRoomType>()" class="form-control">
        </select>
        <span asp-validation-for="RoomType" class="text-danger"></span>
    </div>



    <button type="submit" class="btn btn-primary"> Submit</button>
</form>

