@model Equipment
@using Reservation.Data.Enum;


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="EquipmentName">Equipment Name</label>
        <input asp-for="EquipmentName" type="text" class="form-control" id="equipmentName" maxlength="100" placeholder="Enter equipment name" required>
    </div>

    <div class="form-group">
        <label asp-for="Status">Status</label>
        <select asp-for="Status" asp-items="@Html.GetEnumSelectList<EquipmentStatus>()" class="form-control" required>
            <option value="">Select status</option>

        </select>
    </div>

    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" type="number" class="form-control" id="price" step="0.01" placeholder="Enter price" required>
    </div>

    <div class="form-group">
        <label asp-for="QuantityAvailable">Quantity Available</label>
        <input asp-for="QuantityAvailable" type="number" class="form-control" id="quantityAvailable" placeholder="Enter quantity available" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
