@model IEnumerable<Equipment>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Equipamentos</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        <p>
            <a asp-controller="Equipment" asp-action="Create" class="btn btn-primary my-2">Criar Equipamento</a>
            
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"> Equipamento: @item.EquipmentName</p>
                            <p class="card-text"> Preço: @item.EquipmentPrice</p>
                            <p class="card-text"> Quantidade: @item.QuantityAvailable</p>

                            
                            
                        </div>
                    </div>
                </div>
            }
        </div>


    </div>
</div>
